doctype html
html
  head
    title Confirmación de registro
  body
    h1 ¡Hola #{name}!
    p Gracias por registrarte en nuestro banco.
    p Tu número de cuenta es:
    strong #{accountNumber}
    p ¡Bienvenido!
